{% extends 'base.html.twig' %}

{% block title %}  

Modifier une vidéo

{% endblock %}

{% block body %}
<div class="container">
   <h1 style="text-align:center;margin-top:50px">Modifier vidéo</h1>
   <div style="margin-top:20px">{{ form_row(form.video, {"attr": {'class':'text-danger'}, "label":"Ajouter une nouvelle Video"})}}</div>
   <input type="submit" class="btn btn-primary" value="enregistrer">
   
</div>
{% endblock %}