.imagetop {

    height:200px;
    width:231px;
    object-fit:cover;
}

.bodypost {

    margin-bottom:20px;
    
}


#listefigure {

 text-align:center;
 margin-top : 20px;


}


.imagesize {

    height:300px;
}

.titreform {

    margin-top: 100px;
    text-align:center;

}

.imagetopsize {

   
    height:600px;
}

.valid-creation {

    margin-top: 50px;

}

.conteneur
{
    display: flex;
}

.avatarsize
{
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}