.imagetop {

    height:200px;
    width:231px;
    object-fit:cover;
}

.bodypost {

    margin-bottom:20px;
    
}

.imagesize {

    height:300px;
}

.titreform {

    margin-top: 100px;
    text-align:center;

}

.imagetopsize {

   
    height:600px;
}

