{% extends 'base.html.twig' %}

{% block title %}Ajout figure{% endblock %}

{% form_theme form 'figures/_collection.html.twig' %}

{% block body %}
    <div class="container">
        
        <h1 class="titreform">Ajouter une figure</h1>
    
        {{form_start(form)}}
        
        {{form_widget(form)}}

        <input type="hidden" id="widgets-counter" value="0">

        <button type="submit" class="btn btn-primary">Ajouter une figure</button>

        {{form_end(form)}}
    </div>    
{% endblock %}

