{% extends 'base.html.twig' %}

{% block title %} Internal Server Error {% endblock %}

{% block body %}

    <div class="errorblock text-center">
        <h1> ERROR 500. </h1>

        <p>Cette page n'est pas accessible.</p>
        <p>Vous pouvez retourner à l'accueil.</p>

        <a href="{{path('accueil')}}" class="btn btn-primary">Retour à l'accueil</a>
    
    </div>

{% endblock %}