{% extends 'base.html.twig' %}

{% block title %}Ressource inaccessible{% endblock %}


{% block body %}
    <div class="errorblock text-center">
        <h1> Error 403. </h1>
            <p>Vous n'avez pas le droit d'accéder à cette page</p>
    
        <a href="{{path('accueil')}}" class="btn btn-primary">Retour à l'accueil</a>
    
    </div>

{% endblock %}