{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

    <div class="errorblock text-center">
        <h1> ERROR 404. </h1>

        <p>La page que vous recherchez n'existe pas!</p>
        <p>Vous pouvez retourner à l'accueil.</p>

        <a href="{{path('accueil')}}" class="btn btn-primary">Retour à l'accueil</a>
    
    </div>

{% endblock %}
