<h1> Modifier le mot de passe </h1>
<p>Vous avez demandé de réinitialiser votre mot de passe, 
veuillez cliquer sur le lien suivant pour le modifier:</p>
<p><a href="{{ absolute_url(path('updatepass', {'token': token}))}}">Modifier le mot de passe</a></p>